package $package;

import sk.tuke.meta.persistence.DAOPersistenceManager;
import sk.tuke.meta.persistence.EntityDAO;
import sk.tuke.meta.persistence.ProxyManager;

import java.lang.annotation.Annotation;
import java.sql.Connection;
import java.util.*;
import java.io.BufferedReader;
import java.io.IOException;
import java.io.InputStream;
import java.io.InputStreamReader;
import javax.persistence.FetchType;
import javax.persistence.ManyToOne;
import javax.persistence.PersistenceException;
import javax.swing.*;

import sk.tuke.meta.persistence.ReflectionManager;
import java.sql.*;
import java.lang.reflect.Constructor;
import java.lang.reflect.Field;
import java.lang.reflect.InvocationTargetException;

public class ${entity}DAO implements EntityDAO<$entity>{
    private final DAOPersistenceManager manager;
    private final Connection connection;

    private static final String SELECT_ALL_COMMAND = "SELECT * FROM '$tableName';";
    private static final String SELECT_BY_ID_COMMAND = "SELECT * FROM '$tableName' WHERE ${idColumnName.toLowerCase()}=?;";
    private static final String SELECT_BY_COMMAND = "SELECT * FROM '$tableName' WHERE %s=?;";
    private static final String SELECT_BY_NULL_VALUE_COMMAND = "SELECT * FROM '$tableName' WHERE %s is null;";

    private static final String DELETE_COMMAND = "DELETE FROM '${tableName}' WHERE ${idColumnName.toLowerCase()}=?;";

    private static final String INSERT_COMMAND = "INSERT INTO '$tableName' (#foreach($name in $columnsNames)${name}#if($foreach.hasNext), #end#end) VALUES (#foreach($name in $columnsNames)?#if($foreach.hasNext), #end#end)";

    private static final String UPDATE_COMMAND = "UPDATE '$tableName' SET #foreach($name in $columnsNames)${name}=?#if($foreach.hasNext), #end#end WHERE ${idColumnName.toLowerCase()}=?";

    public ${entity}DAO(DAOPersistenceManager manager){
        this.manager = manager;
        this.connection = manager.getConnection();
    }

    @Override
    public void createTable() {
        try {
            String sqlCommands = getGeneratedSqlFromFile();

            Statement statement = connection.createStatement();
            for (String sql : sqlCommands.split(";")) {
                statement.execute(sql);
            }
            statement.close();
        } catch (SQLException | IOException e) {
            throw new PersistenceException(e);
        }
    }

    private ${entity} resultSetTo${entity}(ResultSet resultSet) throws SQLException, InstantiationException, IllegalAccessException {
        ${entity} ${entity.toLowerCase()} = new ${entity}();


    #foreach($column in $nonReferenceColumns)
        #set( $index = $foreach.count - 1 )
        #if(${nonReferenceFieldTypes.get($index)} == "long")
        ${nonReferenceFieldTypes.get($index)} ${column.toLowerCase()} = resultSet.getLong("${column}");
        #else
        ${nonReferenceFieldTypes.get($index)} ${column.toLowerCase()} = (${nonReferenceFieldTypes.get($index)}) resultSet.getObject("${column}");
        #end
        ${entity.toLowerCase()}.set${nonReferenceFieldsWithId.get($index)}(${column.toLowerCase()});

    #end

    #foreach($column in $referenceColumnWithDefaultFetching)
        #set( $index = $foreach.count - 1 )
        long ${column.toLowerCase()}Id = resultSet.getLong("${column}");
        Optional<${referenceFieldsWithDefaultFetchingTypes.get($index)}> optional = manager.getDAO(${referenceFieldsWithDefaultFetchingTypes.get($index)}.class).get(${column.toLowerCase()}Id);
        if(optional.isEmpty()){
            ${entity.toLowerCase()}.set${referenceFieldsWithDefaultFetching.get($index)}(null);
        } else {
            ${entity.toLowerCase()}.set${referenceFieldsWithDefaultFetching.get($index)}(optional.get());
        }
    #end

    #foreach($column in $referenceColumnWithLazyFetching)
        #set( $index = $foreach.count - 1 )
        long ${column.toLowerCase()}Id = resultSet.getLong("${column}");
        ${referenceFieldsWithLazyFetchingTypes.get($index)} ${column.toLowerCase()}Proxy = ProxyManager.createProxy(connection, ${referenceFieldsWithLazyFetchingTypes.get($index)}.class, ${column.toLowerCase()}Id);
        ${entity.toLowerCase()}.set${referenceFieldsWithLazyFetching.get($index)}(${column.toLowerCase()}Proxy);
    #end

    }

    @Override
    public Optional<$entity> get(long id) {
        try {

            PreparedStatement preparedStatement = connection.prepareStatement(SELECT_BY_ID_COMMAND);
            preparedStatement.setLong(1, id);

            ResultSet resultSet = preparedStatement.executeQuery();

            if (resultSet.isClosed()) {
                return Optional.empty();
            }

            $entity ${entity.toLowerCase()} = resultSetTo${entity}(resultSet);

            resultSet.close();
            preparedStatement.close();

            if(${entity.toLowerCase()} == null){
                return Optional.empty();
            } else {
                return Optional.of(${entity.toLowerCase()});
            }

        } catch (SQLException | InstantiationException | IllegalAccessException e) {
            throw new PersistenceException(e);
        }
    }

    @Override
    public List<$entity> getAll() {
        try {
            Statement statement = connection.createStatement();
            ResultSet resultSet = statement.executeQuery(SELECT_ALL_COMMAND);

            if(resultSet.isClosed()){
                return Collections.emptyList();
            }

            List<$entity> list = new ArrayList<>();

            while (resultSet.next()){
                $entity ${entity.toLowerCase()} = resultSetTo${entity}(resultSet);
                list.add(${entity.toLowerCase()});
            }

            resultSet.close();
            return list;
        } catch (SQLException | InstantiationException | IllegalAccessException e) {
            throw new PersistenceException(e);
        }
    }

    @Override
    public List<$entity> getBy(String fieldName, Object value) {
        try {
            PreparedStatement statement;

            if(value == null){
                statement = connection.prepareStatement(String.format(SELECT_BY_NULL_VALUE_COMMAND, fieldName));
            } else {
                statement = connection.prepareStatement(String.format(SELECT_BY_COMMAND, fieldName));
                statement.setObject(1, value);
            }

            ResultSet resultSet = statement.executeQuery();
            List<$entity> list = new ArrayList<>();


            while (resultSet.next()){
                $entity ${entity.toLowerCase()} = resultSetTo${entity}(resultSet);
                list.add(${entity.toLowerCase()});
            }

            resultSet.close();
            statement.close();
            return list;

        } catch (SQLException | InstantiationException | IllegalAccessException e) {
            throw new PersistenceException(e);
        }
    }

    @Override
    public long save(Object entity) {
        try {
            ${entity} ${entity.toLowerCase()} = (${entity}) entity;
            long id = ${entity.toLowerCase()}.get${idFieldName}();

        #foreach($name in $referenceFields)
            #set( $index = $foreach.count - 1 )
            ${referenceFieldTypes.get($index)} ${name.toLowerCase()} = ${entity.toLowerCase()}.get${name}();
            if(${name.toLowerCase()} != null) {
                long ${name.toLowerCase()}Id = ${name.toLowerCase()}.get${referenceFieldIds.get($index)}();
                if (${name.toLowerCase()}Id == 0) {
                    manager.getDAO(${referenceFieldTypes.get($index)}.class).save(${name.toLowerCase()});
                }
            }

        #end
            if(id == 0){
                return save${entity}(${entity.toLowerCase()});
            } else {
                update${entity}(${entity.toLowerCase()});
                return id;
            }

        } catch (IllegalAccessException | SQLException | InvocationTargetException
                 | NoSuchMethodException e) {
            throw new PersistenceException(e);
        }
    }

    @Override
    public void delete(Object entity) {
        try {
            ${entity} ${entity.toLowerCase()} = (${entity}) entity;
            long id = ${entity.toLowerCase()}.get${idFieldName}();

            PreparedStatement preparedStatement = connection.prepareStatement(DELETE_COMMAND);
            preparedStatement.setLong(1, id);

            preparedStatement.execute();
            preparedStatement.close();
        } catch (SQLException e){
            throw new PersistenceException(e);
        }
    }

    private String getGeneratedSqlFromFile() throws IOException {
        InputStream inputStream = ClassLoader.getSystemResourceAsStream("create" + ${entity}.class.getSimpleName() + "Table.sql");

        InputStreamReader inputStreamReader = new InputStreamReader(inputStream);
        BufferedReader reader = new BufferedReader(inputStreamReader);
        StringBuilder stringBuilder = new StringBuilder();
        String line;

        while ((line = reader.readLine()) != null) {
            stringBuilder.append(line).append('\n');
        }

        String fileContent = stringBuilder.toString().trim();

        System.out.println(fileContent);

        inputStream.close();
        inputStreamReader.close();
        reader.close();

        return fileContent;
    }

    private long save${entity}(${entity} ${entity.toLowerCase()})
            throws SQLException, IllegalAccessException{

        PreparedStatement statement = connection.prepareStatement(INSERT_COMMAND);

    #set( $counter = 1 )
    #foreach($name in $nonReferenceFields)
        statement.setObject($counter, ${entity.toLowerCase()}.get${name}());
        #set( $counter = $counter + 1 )
    #end
    #foreach($name in $referenceFields)
        #set( $index = $foreach.count - 1 )

        ${referenceFieldTypes.get($index)} ${name.toLowerCase()} = ${entity.toLowerCase()}.get${name}();
        if(${name.toLowerCase()} != null){
            statement.setObject($counter, ${name.toLowerCase()}.get${referenceFieldIds.get($index)}());
        } else {
        statement.setObject($counter, null);
        }
        #set( $counter = $counter + 1 )
    #end

        statement.execute();

        ResultSet resultSet = statement.getGeneratedKeys();

        long newId = resultSet.getLong(1);
        ${entity.toLowerCase()}.set${idFieldName}(newId);

        resultSet.close();
        return newId;
    }

    private void update${entity}(${entity} ${entity.toLowerCase()})
            throws SQLException, InvocationTargetException, NoSuchMethodException, IllegalAccessException {

        PreparedStatement statement = connection.prepareStatement(UPDATE_COMMAND);

    #set( $counter = 1 )
    #foreach($name in $nonReferenceFields)
        statement.setObject($counter, ${entity.toLowerCase()}.get${name}());
        #set( $counter = $counter + 1 )
    #end
    #foreach($name in $referenceFields)
        #set( $index = $foreach.count - 1 )

        ${referenceFieldTypes.get($index)} ${name.toLowerCase()} = ${entity.toLowerCase()}.get${name}();
        if(${name.toLowerCase()} != null){
            statement.setObject($counter, ${name.toLowerCase()}.get${referenceFieldIds.get($index)}());
        } else {
            statement.setObject($counter, null);
        }
        #set( $counter = $counter + 1 )
    #end

        statement.setObject($counter, ${entity.toLowerCase()}.get${idFieldName}());

        statement.execute();
        statement.close();
    }
}